<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.VideoMapper">
    <!-- Find one video by videoId -->
    <select id="findOneVideoById" parameterType="java.lang.Integer" resultType="com.github.domain.Video">
        SELECT *
        FROM Video
        WHERE videoId = #{videoId}
    </select>

    <!-- Find all videos by title -->
    <select id="findAllVideoByTitle" parameterType="java.lang.String" resultType="com.github.domain.Video">
        SELECT *
        FROM Video
        WHERE title LIKE '%' || #{title} || '%'
    </select>

    <update id="updatedTotalViewCount" parameterType="com.github.domain.Video">
        UPDATE Video
        SET totalViewCount = #{totalViewCount}
        WHERE videoId = #{videoId}
    </update>

</mapper>
