<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.WatchHistoryMapper">

    <select id="findOneById" parameterType="java.lang.Integer" resultType="com.github.domain.WatchHistory">
        SELECT *
        FROM WatchHistory
        WHERE watchHistoryId = #{watchHistoryId}
    </select>

    <select id="findLastWatchedByEmail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT lastWatched
        FROM WatchHistory
        WHERE email = #{email}
        ORDER BY watchedAt DESC
        LIMIT 1
    </select>

    <select id="findLastWatchedByDeviceUUID" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT lastWatched
        FROM WatchHistory
        WHERE deviceUUID = #{deviceUUID}
        ORDER BY watchedAt DESC
        LIMIT 1
    </select>

    <!-- 새로 생성된 PK값 반환   -->
    <insert id="insertWatchHistory" parameterType="com.github.domain.WatchHistory" useGeneratedKeys="true" keyProperty="watchHistoryId">
        INSERT INTO WatchHistory (watchHistoryId, videoId, email, playedTime, lastWatched, adviewCount, deviceUUID, createdAt, watchedAt)
        VALUES (#{watchHistoryId}, #{videoId}, #{email}, #{playedTime}, #{lastWatched}, #{adviewCount}, #{deviceUUID}, #{createdAt}, #{watchedAt})
    </insert>

</mapper>
