<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.AdvertisementDetailMapper">
    <select id="countByVideoId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT COUNT(*) AS videoCount
        FROM AdvertisementDetail
        WHERE videoId = #{videoId}
    </select>

    <select id="findAllByVideoId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT adPriority
        FROM AdvertisementDetail
        WHERE videoId = #{videoId}
        ORDER BY adPriority ASC
    </select>

    <update id="updateViewCountByPriority" parameterType="java.lang.Integer">
        UPDATE AdvertisementDetail
        SET viewCount = viewCount + #{plusViewCount}
        WHERE adPriority = #{adPriority}
    </update>

</mapper>
