<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.AdvertisementMapper">

    <update id="updateViewCountByPriority" parameterType="java.lang.Integer">
        UPDATE Advertisement
        SET totalViewCount = #{totalViewCount}
        SET dailyViewIncrement = dailyViewIncrement + #{increment}
        WHERE adPriority = #{adPriority}
    </update>

</mapper>
