<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.github.mapper.VideoStatisticMapper">-->

<!--    &lt;!&ndash;  일간  &ndash;&gt;-->
<!--    <insert id="insertDailyStatistic" parameterType="com.github.domain.VideoStatistic">-->
<!--        INSERT INTO VideoStatistic (videoId, dailyWatchedTime, dailyViewCount, dailyAdViewCount, zScore)-->
<!--        VALUES (#{videoId}, #{dailyWatchedTime}, #{dailyViewCount}), #{dailyAdViewCount}, #{zScore}-->
<!--    </insert>-->
<!--    <update id="updateDailyStatistic" parameterType="com.github.domain.VideoStatistic">-->
<!--        UPDATE VideoStatistic-->
<!--        SET dailyWatchedTime = #{dailyWatchedTime},-->
<!--        dailyViewCount = #{dailyViewCount},-->
<!--        dailyAdViewCount = #{dailyAdViewCount},-->
<!--        zScore = #{zScore}-->
<!--        WHERE videoId = #{videoId}-->
<!--    </update>-->

<!--    <update id="updateDailyBill" parameterType="java.lang.Integer">-->
<!--        UPDATE VideoStatistic-->
<!--        SET dailyBill = #{dailyBill}-->
<!--        WHERE videoId = #{videoId}-->
<!--    </update>-->

<!--    &lt;!&ndash;    존재여부만 확인    &ndash;&gt;-->
<!--    <select id="existsVideoStatisticByVideoId" parameterType="java.lang.Integer" resultType="java.lang.Boolean">-->
<!--        SELECT EXISTS(SELECT 1 FROM VideoStatistic WHERE videoId = #{videoId})-->
<!--    </select>-->

<!--    <select id="findOneByVideoId" parameterType="java.lang.Integer" resultType="com.github.domain.VideoStatistic">-->
<!--        SELECT * FROM VideoStatistic WHERE videoId = #{videoId}-->
<!--    </select>-->
<!--</mapper>-->
